<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">
    <menu id="application" title="msg://ro.cub.btddigitalportals/menu.application.title" opened="true">
        <item view="cub_User.list" title="msg://ro.cub.btddigitalportals.view.user/UserListView.title"/>
        <item view="cub_Valuelist.list" title="msg://ro.cub.btddigitalportals.view.valuelist/valuelistListView.title"/>
        <item view="cub_FrequentDevice.list"
              title="msg://ro.cub.btddigitalportals.view.frequentdevice/frequentDeviceListView.title"/>
    </menu>
</menu-config>